[submodule "rocksdb"]
	path = librocksdb_sys/rocksdb
	url = https://github.com/BornChanger/rocksdb.git
	branch = compaction_filter_debug

[submodule "titan"]
	path = librocksdb_sys/libtitan_sys/titan
	url = https://github.com/tikv/titan.git
	branch = master
